<div class="chat-header">
  <div class="group-name">Animals</div>
  <div class="header-right">
    <a class="exit-btn" href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="each-message">
    <div class="post">
      <div class="message-name">Tiger</div>
      <div class="date">2023/07/02(Sun) 10:40:00</div>
    </div>
      <div class="message">おはよう</div>
  </div>

  <div class="each-message">
    <div class="post">
      <div class="message-name">Giraffe</div>
      <div class="date">2023/07/02(Sun) 10:45:00</div>
    </div>
      <div class="message">まだ眠い</div>
  </div>

  <div class="each-message">
    <div class="post">
      <div class="message-name">Elephant</div>
      <div class="date">2023/07/02(Sun) 10:50:00</div>
    </div>
      <div class="message">今日は晴れてるね</div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>