<div class="side-bar-header">
  <div class="side-top">
    <a href="#" class="user-name">Hikari</a>
    <a href="#" class="create-chat">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="chat-room">
    <a href="#" class="room-name">techroom1</a>
    <a href="#" class="room-name">techroom2</a>
  </div>
</div>
    